@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

header {
  background-color: lightgrey;
}


/*----NAV----*/

li {
  width: 100%;
}

a {
    text-decoration: none;
}

ol {
  list-style-type: none;
  padding: 0;
}

nav {
    margin-bottom: 1em;
}

@media only screen and (min-width: 20em) {

  li {
    float: left;
    width: inherit;
    padding: 0 0.25em;
  }

  ol {
    text-align: center;
    margin: 0 20%;
  }

  nav {
    margin

  }

}

@media only screen and (min-width: 38em) {

  h1 {
    margin-bottom: 1em;
  }

  ol {
    margin-top: 2em;
  }

}

/*-----VENUS----*/

.venus-section {
  margin-bottom: 0.5em;
}

/*-----THREE PHOTOS----*/

.photos-section {
  padding: 0 2em;
}

.photos-section p {
  margin-top: 0;
}
